@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            @if(SignInManager.IsSignedIn(User) && User.IsInRole("Superadmin"))
            {
                <a class="nav-link" asp-controller="ManageUsers" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Manage users
                </a>
                <a class="nav-link" asp-controller="RoleManager" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Create user roles
                </a>
                <a class="nav-link" asp-controller="Blog" asp-action="Bloglist">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Manage all blogs
                </a>
                <a class="nav-link" asp-controller="Post" asp-action="Postlist">
                <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
                Manage post
                </a>
                <a class="nav-link" asp-controller="Comment" asp-action="CommentList">
                <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                Manage Comment
                </a>
            }
            @if(SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <a class="nav-link" asp-controller="Blog" asp-action="Bloglist">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Manage all blogs
                </a> 
            }
            @if(SignInManager.IsSignedIn(User) && User.IsInRole("Author"))
            {
                <a class="nav-link" asp-controller="Blog" asp-action="MyBloglist">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Manage my blog
                </a> 
            }
            @*<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Manage blog
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-controller="Blog" asp-action="Create">Create blog</a>
                    <a class="nav-link" asp-controller="Blog" asp-action="Edit">Edit blog</a>
                </nav>
            </div>*@
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        @((await UserManager.GetUserAsync(User)).UserName)
    </div>
</nav>