@model AlphaBlogging.Models.Comment

@{
    ViewData["Title"] = "Comment";
}

<div>

    @*<h6>Comment</h6>*@
    <p class="created">Comment @Model.Created.ToShortDateString() by @Model.Author.UserName</p>
    <p>@Model.Body</p>
   
</div>



