@using AlphaBlogging.Models;

@model Post

  <h2>@Model.Title</h2>
  <p>@Model.Body</p>

<div>
    @{
        if (Model.Tags != null)
        {
            foreach (var tag in Model.Tags)
            {
                <partial name="_TagPartial" model="tag" />
            }
        }
        else
        {
            <p>no tags</p>
        }
    }


    @{
        if (  Model.Comments != null && Model.Comments.Count() > 0)
        {       
            @foreach (var comment in Model.Comments.Reverse())
            {
                <div>
                     <partial name="_Comment"  model="comment"/> 
                 
                    @Html.ActionLink("Add Comment", "Create", "Comment", new {postId = Model.Id} )


                </div>
                <hr />
           
            }
        }
        else
        {
            <h3>No comments yet</h3>        
        }
    }
</div>