@using AlphaBlogging.Models;

@model Post

  <h4>@Model.Title</h4>
  <p>@Model.Body</p>
  <p>Created: @Model.Created</p>
  <p>Updated: @Model.Updated</p>

<div>
    @{
        if (Model.Tags != null)
        {
            <div class="row rounded m-3" >
            @foreach (var tag in Model.Tags)
            {
                <partial name="_TagPartial" model="tag" />
            }
            </div>
        }
        else
        {
            <p>No tags</p>
        }
    }


    @{
        if (  Model.Comments != null && Model.Comments.Count() > 0)
        {       
            @foreach (var comment in Model.Comments.Reverse())
            {
                <div>
                     <partial name="_Comment"  model="comment"/> 
                 
                    @*@Html.ActionLink("Add Comment", "Create", "Comment", new {postId = Model.Id} )*@


                </div>
                <hr />
           
            }
        }
        else
        {
            <h6>No comments yet</h6>        
        }
    }
</div>