@*@model AlphaBlogging.Models.ViewModels.SearchResultsVM*@


@*<ul class="navbar-nav">*@
@*<li class="input-group" style="width:300px;">
    <form asp-controller="Search" asp-action="SearchResult">
        <input name="searchTerm" id="searchTerm" class="form-control" style="width:200px" />
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-primary" style="width:50px"/>
        </div>
    </form>
</li>*@
<form method="get" asp-controller="Search" asp-action="SearchResult">
<div class="input-group mb-3">
  <input type="text" name="searchTerm" id="searchTerm" class="form-control bg-dark text-light" placeholder="..." aria-label="..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button type="submit" class="btn btn-outline-secondary text-light" type="button">Search</button>
  </div>
</div>
</form>
@*</ul>*@

@* <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" method="post" asp-controller="Search" asp-action="Search"/>
    <span class="input-group-text border-0" id="search-addon">
    </span>
    </div>*@