@*@model AlphaBlogging.Models.ViewModels.SearchResultsVM*@


<ul class="navbar-nav">
    <li class="nav-item">
        <form asp-controller="Search" asp-action="SearchResult">

                
                <input name="searchTerm" id="searchTerm" class="form-control" />
               

                <input type="submit" value="Search" class="btn btn-primary" />
            
        </form>
    </li>
</ul>

@* <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" method="post" asp-controller="Search" asp-action="Search"/>
    <span class="input-group-text border-0" id="search-addon">
    </span>
</div>*@