@model AlphaBlogging.Models.Tag

<div >
    
    <span style="font-size:smaller;" class="btn btn-primary btn-xs text-center m-1">@Model.HashTag</span>
</div>

@*<button type = "button" class = "btn btn-primary btn-xs">
      Extra small Primary button
   </button>*@