@model AlphaBlogging.Models.Tag

<div class="tag" >

    <span class="btn btn-bg-transparent text-white-50">#@Model.HashTag</span>

</div>

@*<button type = "button" class = "btn btn-primary btn-xs">
      Extra small Primary button
   </button>*@