@model AlphaBlogging.Models.Tag

<div >

    <span class="btn btn-primary">@Model.HashTag</span>

</div>

@*<button type = "button" class = "btn btn-primary btn-xs">
      Extra small Primary button
   </button>*@