@model AlphaBlogging.Models.ViewModels.PostVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <br />
<h1>Create post</h1>

<h4>PostVM</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
                </label>
            </div>*@
            <div class="form-group">
                
                <input asp-for="BlogId" type="hidden" class="form-control" />
               
            </div>
            @*<div class="form-group">
                <label asp-for="HashTag" class="control-label"></label>
                <input asp-for="HashTag" class="form-control" />
                <span asp-validation-for="HashTag" class="text-danger"></span>
            </div>*@
             <div class="keyHandler">
                <button type="button" id="addKey">+</button>
                <input type="text" placeholder="Keyword + Enter" id="keysInput">
            </div>
            <div class="addedKeysHolder"></div>

            <!-- Just give this input the name="etc" attribute -->
            <input asp-for="HashTag" type="hidden" id="lkey" name="HashTag">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="MyBloglist" asp-controller="Blog">Back to List</a>
</div>*@
</div>

<!--------------------------------------------------->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/js/site.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
