@model IEnumerable<Post>

@{
     Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <br />
  <h1>List of posts</h1>
  <hr />
  <div>
      <ul>
           @foreach (var post in Model)
    {
        <li>
            <a asp-controller="Post" asp-action="Post" asp-route-id="@post.Id">
                @post.Title
            </a>
            |
             <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">
                Edit
            </a>
             |
             <a asp-controller="Post" asp-action="Remove" asp-route-id="@post.Id">
                Remove
            </a>
        </li>
    }
      </ul>
  </div>
</div>   

