@using AlphaBlogging.Models;

@{
    ViewBag.Title = "Not found";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@*@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.ErrorMessage
    </div>
}*@

<div class="container-fluid px-4">
    <br />
    <div>
        <h4>The resource you are looking for cannot be found.</h4>
            @*<a asp-page="/Admin" class="btn btn-primary">
            return
            </a>*@
    </div>
</div>