@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <br /><br />
    <div style="text-align: center;">
        <h3 class="text-danger">Oops!</h3><br />
        <i class="far fa-flushed fa-9x text-secondary"></i>
        <br /><br />
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <h4 class="text-danger">You do not have access to this resource.</h4>
    </div>
</header>
