@model AlphaBlogging.Models.Blog

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBlog" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
               @* <input asp-for="Description" class="form-control" />*@
                <textarea id="limitedtextarea" asp-for="Description" class="form-control bg-light" rows="5" placeholder="Type a short description of the blog here..." 
                        onKeyDown="limitText(this.form.limitedtextarea,this.form.countdown,128);"
                          onKeyUp="limitText(this.form.limitedtextarea,this.form.countdown,128);">
                </textarea><br>
                <font size="2">You have <input readonly type="text" name="countdown" size="1" value="128"> characters left.
                </font>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                @*<input asp-for="Body" class="form-control" />*@
                <textarea id="limitedtextarea" asp-for="Body" class="form-control bg-light" rows="5" placeholder="Type the full blog description here..." 
                        onKeyDown="limitText(this.form.limitedtextarea,this.form.countdown,1024);"
                          onKeyUp="limitText(this.form.limitedtextarea,this.form.countdown,1024);">
                </textarea><br>
                <font size="2">You have <input readonly type="text" name="countdown" size="1" value="1024"> characters left.
                </font>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>

            </div>
            @*<div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Blog" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
